body {
  align-items: center;
}
:root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}
#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}
.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}
#card1 .card-body {
  background-color: var(--light-green);
}
#card2 .card-body {
  background-color: var(--cream);
}
#card3 .card-body {
  background-color: var(--light-green);
}
#card4 .card-body {
  background-color: var(--cream);
}
.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.296);
  height: var(--cardHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_1-2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}
#firstText {
  border-radius: 20px;
  color: var(--white);
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5%;
}
#firstImg {
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 20px;
  border-radius: 20px;
}
/* .grid_2-1 {
  background-color: var(--light-green);
  color: var(--cream);
  max-height: 70vh;
  max-width: 95vw;
  display: grid;
  grid-template-columns: 2fr 1fr;

  align-items: center;
  place-self: center;
  place-content: center;
  border-radius: 5px;
  overflow: scroll;
}
.flex_down {
  display: flex;

  gap: 20px;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px;
  div {
    margin-top: 100px;
  }
} */
.grid_2-2-1-1 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  justify-content: center;
  place-items: center;
}
.grid2211h2 {
  grid-column: 1/4;
  text-align: center;
  place-content: center;
}
.grid2211Img {
  display: block;
  grid-column: 1/3;
  grid-row: 3/5;
  margin: 2vw;
}
.overlapText {
  font-size: 0.7rem;
  color: var(--white);
  grid-column: 2/5;
  grid-row: 2/4;
  border-radius: 20px;
  background-color: var(--dark-green);
  margin: 20px;
  padding: 20px;
}

footer {
  height: 50vw;
  background-color: var(--dark-green);
}
.btn {
  background-color: var(--orange);
  color: var(--white);
  width: 40vw;
  height: 8vh;
  border: none;
  border-radius: 40px;
}
.btn::hover {
  background-color: brown;
}
