body {
  align-items: center;
}
:root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}
#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}
.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}
#card1 .card-body {
  background-color: var(--light-green);
}
#card2 .card-body {
  background-color: var(--cream);
  color: var(--dark-green);
}
#card3 .card-body {
  background-color: var(--light-green);
}
#card4 .card-body {
  background-color: var(--cream);
  color: var(--dark-green);
}
.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.296);
  height: var(--cardHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    place-self: center;
    border-radius: 20px;
    margin: 5%;
    width: 60%;
    min-width: 140px;
  }
  p {
    max-width: 40ch;
  }
}

.cta_btn {
  padding: 40px;
  border: none;
  margin: 10px;
  border-radius: 40px;
}

.grid_1-2 {
  /* position: relative;
  top: -80px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 60vw;
  z-index: -2;
}

@media (min-width: 840px) {
  .grid_1-2 {
    height: auto;
  }
  main {
    position: relative;
    top: -80px;
  }
}
#firstText {
  border-radius: 20px;

  color: var(--white);
  grid-column: 2/3;
  grid-row: 2/3;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding-left: 5%;
  text-align: center;
  place-content: end;
}
#firstImg {
  grid-column: 1/4;
  grid-row: 1/4;

  /* margin: 20px;
  border-radius: 20px; */
}
/* .grid_2-1 {
  background-color: var(--light-green);
  color: var(--cream);
  max-height: 70vh;
  max-width: 95vw;
  display: grid;
  grid-template-columns: 2fr 1fr;

  align-items: center;
  place-self: center;
  place-content: center;
  border-radius: 5px;
  overflow: scroll;
}
.flex_down {
  display: flex;

  gap: 20px;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px;
  div {
    margin-top: 100px;
  }
} */
.grid_2-2-1-1 {
  border-radius: 20px 20px 0px 0px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  /* grid-template-rows: auto; */
  justify-content: center;
  place-items: center;
}
.grid2211h2 {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  place-content: center;
}
.grid2211Img {
  display: block;
  grid-column: 1/3;
  grid-row: 2/6;
  margin: 2vw;
  border-radius: 20px;
}
.container > h2 {
  text-align: center;
  padding: 40px;
}
.overlapText {
  font-size: 0.7rem;
  color: var(--white);
  grid-column: 2/5;
  grid-row: 2/4;
  border-radius: 20px;
  background-color: var(--dark-green);
  margin: 20px;
  padding: 20px;
}

/*********** DESKTOP *************/

.card-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.cardbutton {
  grid-column: 1/3;
  margin: auto;
}
.passepa {
  margin: auto;
  padding: 50px;
  text-align: center;
}
.lyssegroen {
  background-color: var(--light-green);
}
