body {
  background-color: var(--dark-green);
  color: white;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.para {
  height: 50vh;
  background-color: black;
  background-attachment: fixed;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    margin: auto;
    text-align: center;
  }
}
#tFisk {
  display: inline;
  width: 70%;
  animation: paral ease both;
  animation-timeline: view();
  /* margin-left: 60%; */
  /* margin-top: 40%; */
}
#tFisk2 {
  display: inline;

  width: 30%;

  animation: paral2 ease both;
  animation-timeline: view();
  margin-left: 50%;
  /* margin-top: 45%; */
}
@keyframes paral {
  40% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes paral2 {
  40% {
    transform: rotate(-10deg) scaleX(-1) translateY(150px);
  }
  100% {
    transform: rotate(0deg) scaleX(-1) translateY(0px);
  }
}
.grid_2-2-1-1 {
  background-color: var(--light-green);
}
