body {
  background-color: var(--dark-green);
  color: white;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.para {
  height: 50vh;
  background-color: var(--dark-green);
  color: var(--cream);
  h2 {
    margin: auto;
    text-align: center;
  }
}
#fiskeCelle {
  /* position: relative;
  height: 50vh; 
  overflow-x: hidden; */
}
#tFisk {
  width: 70%;
  animation: paral ease both;
  animation-timeline: view();
  margin-left: 60%;

  transform: translateX(-50%);
  will-change: transform;
  z-index: 12;
}
#tFisk2 {
  position: relative;
  object-fit: contain;

  width: 50%;

  animation: paral2 ease both;
  animation-timeline: view();
  transform: translateX(-20%) scaleX(-1);
  will-change: transform;
  z-index: 11;
}
@keyframes paral {
  0% {
    transform: translate(-20%, -60px);
  }
  to {
    transform: translate(-20%, -150px);
  }
}

@keyframes paral2 {
  0% {
    transform: translate(-20%, -40px) scaleX(-1);
  }
  to {
    transform: translate(-20%, -200px) scaleX(-1);
  }
}
.grid_2-2-1-1 {
  background-color: var(--light-green);
}
