.grid_2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_2-3 img {
  padding: 20px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.grid_2-3 img:hover {
  color: black;
  transform: translateY(-20px);
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: #5f857b;
}

#arrowIcon {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background-color: #fff0b6;
}

.grid_2-3 h1 {
  color: #0c362b;
  margin-top: 10px;
  text-align: center;
}

.grid_2-3 p {
  background-color: #ff9000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin: 0px 20px 10px 20px;
}

/************billede med papegøjer***************/

.forsidepar img {
  opacity: 60%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.forsidepar {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tekst-ovenpaa {
  position: absolute; /* Ligger ovenpå billedet */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centrerer teksten */
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-top: 300px;
}

.tekst-ovenpaa h1 {
  line-height: 80px;
}

/*************billede med hamster****************/

.jago img {
  opacity: 60%;
  object-fit: cover;
  display: block;
  border-radius: 5%;
  margin: auto;
  width: 50%;
  margin-top: 150px;
  margin-bottom: 50px;
}

.jago {
  position: relative;
  /*width: 100vw;
  height: 100vh;*/
  overflow: hidden;
  background-color: #5f857b;
  margin: 0 auto;
}

.tekst-ovenpaa2 {
  position: absolute; /* Ligger ovenpå billedet */
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); /* centrerer teksten */
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

/**************animation********/
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

@keyframes scale {
  80% {
    scale: 0.5;
    opacity: 0.2;
  }

  100% {
    scale: 0.5;
    opacity: 0;
  }
}

@keyframes slide-1 {
  0% {
    opacity: 0;
    translate: -20vh;
    rotate: -5deg;
  }
}

@keyframes slide-2 {
  0% {
    opacity: 0;
    translate: 20vh;
    rotate: -5deg;
  }
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  block-size: 4px;
  background-color: #ffffff;

  animation: site-progress linear;
  transform-origin: 0;
  animation-timeline: scroll();
}

/**************åbningstider****************/

.aabningstider {
  background-color: #5f857b;
  padding: 50px;
}

.aabningstider h1 {
  color: #ffffff;
  text-align: center;
}

.aabningstider-box h1 {
  color: #ffffff;
  margin-top: 50px;
}

.aabningstider-box {
  border: 12px solid #f39c12; /* orange farve ligesom billedet */
  border-radius: 40px; /* runde hjørner */
  padding: 40px; /* luft indeni boksen */
  width: fit-content; /* boksen følger indholdets bredde */
  margin: 60px auto; /* centrer boksen */
  color: white;
  font-family: sans-serif;
  text-align: center;
  background-color: #5f857b;
  line-height: 60px;
}

/**************footer**************/

footer {
  background-color: #0c362b;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;
}

footer h3 {
  display: flex;
  color: #ffffff;
  padding: 30px;
  margin-top: 30px;
}

footer p {
  color: #ffffff;
  padding: 30px;
  line-height: 0.5px;
}

.kontakt {
  display: flex;
  flex-direction: column; /* stabler kontaktpunkterne */
  gap: 2px;
}

.kontakt div {
  display: flex;
  align-items: center;
  gap: 2px;
}

.kontakt img {
  padding: 10px;
  width: 50px;
  margin-left: 20px;
}

.fblogo img {
  width: 42px;
}

.lille-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  justify-content: left;
  width: 50%;
  padding: 30px;
}

/*******************Desktop*****************/

@media (min-width: 840px) {
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 840px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
