/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/************ Farver **************/
html {
  --dark-green: #0c362b;
  --light-green: #5f857b;
  --cream: #fff0b6;
  --orange: #ff9000;
  --black: #101010;
  --white: #ffffff;
}

/************ cta button ******************/

.cta_btn {
  /* display: block; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  background-color: var(--orange);
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  margin: auto;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  max-width: 20ch;

  text-decoration: none;
}
.cta_btn:hover {
  background-color: #ffa42e;
  color: #fff0b6;
}

.cta_btn .cta_arrow {
  height: 10%;
  height: auto;
  display: inline-block;
  z-index: 10;
}
/*********** h1 h2 h3 p ************/
h1 {
  font-family: Pacifico;
  font-size: 2.8rem;
}

h2,
h3 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 800;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  font-family: Helvetica, sans-serif;
  /* transform: scaleX(0.8); */
  font-weight: 500;
  font-size: 1.2rem;
}

/******************menu*******************/
header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #5f857b;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
  background-color: #ff9000;
  border-radius: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}
.menu li {
  min-width: 10ch;
}

.menu a:hover {
  color: #fff0b6;
}

details {
  text-align: right;
  color: var(--white);
}

.dyremenu {
  display: none;
  position: absolute;
  background-color: var(--orange);
  z-index: 1;
  /* place-self: center; */
  /* top: 70px; */

  width: 10ch;
  border-radius: 0 0 10px 10px;
  /* border: #0c362b solid 1px; */
}
.dropdown:hover .dyremenu {
  display: block;
}
.dropdown:hover {
  border-radius: 20px 20px 0 0;
}
.menu a:hover {
  background-color: #ffae4a;
  border-radius: 20px;
}

/**************logo****************/
.logo img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  justify-content: left;
  width: 30%;
}

/**************footer**************/

footer {
  background-color: #0c362b;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;
}

footer h3 {
  display: flex;
  color: #ffffff;
  padding: 30px;
  margin-top: 30px;
}

footer p {
  color: #ffffff;
  padding: 30px;
  /* line-height: 0.5px; */
}
footer div p {
  overflow-wrap: break-word;
}

.kontakt {
  display: flex;
  flex-direction: column; /* stabler kontaktpunkterne */
  gap: 2px;
}

.kontakt div {
  display: flex;
  align-items: center;
  gap: 2px;
}

.kontakt img {
  padding: 10px;
  width: 50px;
  margin-left: 20px;
}

.fblogo img {
  width: 42px;
}

.lille-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  justify-content: left;
  width: 50%;
  padding: 30px;
}

/***************burger****************/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff9000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/*******************burger menu****************/

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #5f857b8a;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .dyremenu {
    width: 94%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/******************* animation linje ****************/
@keyframes site-progress {
  from {
    scale: 0 1;
  }
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  block-size: 6px;
  background-color: #ff9000;
  z-index: 1;

  animation: site-progress linear;
  transform-origin: 0;
  animation-timeline: scroll();
/****** Video på index ******/
video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video_og_logo {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.myvideo {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  z-index: -1;
}

.logo_video {
  z-index: 0;
  grid-column: 2 / 3;
  grid-row: 2 /3;
}
