.info-1_1 {
  background-color: #5f857b;
  padding: 30px;
}

.info-1_1 img {
  border-radius: 20px;
  margin-top: 20px;
}

.yellow-info-1_1 {
  background-color: #fff0b6;
  padding: 30px;
}

.yellow-info-1_1 img {
  border-radius: 20px;
  margin-top: 20px;
}

body {
  background-color: #5f857b;
}

h1 {
  text-align: center;
  color: #fff0b6;
}

/* --- Responsiv til desktop --- */
@media (min-width: 840px) {
  .info-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 50px;
    gap: 40px;
  }

  .yellow-info-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 50px;
    gap: 40px;
  }
}
