.info-1_1 {
  background-color: #fff0b6;
  padding: 30px;
  display: flex;
  gap: 80px;
  flex-direction: column;
  margin-bottom: 100px;
}

.info-1_1 img {
  border-radius: 20px;
  margin-top: 20px;
}

.green-info-1_1 {
  background-color: #5f857b;
  padding: 30px;
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.green-info-1_1 img {
  border-radius: 20px;
  margin-top: 20px;
}

.big_1 {
  opacity: 0.8;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 100px;
}

.big_2 {
  opacity: 0.8;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 100px;
}

body {
  background-color: #fff0b6;
}

h1 {
  text-align: center;
  color: #5f857b;
}

h3 {
  text-align: center;
}

.info_kontakt {
  padding: 80px;
  background-color: #5f857b;
}

/************ cta button ******************/

.cta_btn {
  background-color: #ff9000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
  width: fit-content;
  display: block;
  margin: 0 auto; /* centrerer knappen */
}

.cta_btn {
  text-decoration: none;
}

.cta_btn:hover {
  background-color: #0c362b;
  color: white;
}

/********* animation ***********/

@keyframes clip-reveal {
  from {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.big_2 {
  animation: clip-reveal ease-in-out both;
  animation-timeline: view();
  animation-range: 20% 50%;
}

/* --- Responsiv til desktop --- */
@media (min-width: 840px) {
  .info-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 50px;
    gap: 60px;
  }

  .green-info-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 50px;
    gap: 60px;
  }

  .big_1 {
    opacity: 0.8;
    padding: 100px;
    border-radius: 150px;
  }

  .big_2 {
    opacity: 0.8;
    padding: 100px;
    border-radius: 150px;
  }
}
